// БАЗОВЫЕ ЦВЕТА
$white: #f5f5f5;
$pearl: #f4f1eb;
$grey: #555a68;
$haki: #acbfa3;
$green: #475845;
$blue: #6174ba;
$dark_blue: #55659b;
$gray: #555a68;
$black: #222722;

body {
  h1 {
    color: aqua;
  }
}
